
{% extends "todo/base.html" %}

{% load dictid %}

{% block title %}ToDoリスト{% endblock title %}

{% block content %}

<div class="jumbotron">
    <p class="display-4">新しいToDoを作成する</p>

    <form method="post">
    {% csrf_token %}
    <div class = "row">
        <div class = "col-10">
            {{form.title}}
        </div>
        <div class = "col-2">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">リストの作成</button>
        </div>
    </div>
    </form>
    
    {% if status %}
        <div class="alert alert-success" role="alert">新しいToDoリストが作成されました</div>
    {% endif %}
    
    {% for i in lists %}
        <div class="card">
            <h5 class="card-header"><a href="{% url 'todo:list' i.id%}">{{i.title}}</a></h5>
            <div class="card-body">
                <p class="card-text">
                    {% with i.id as id %}
                        {% ifequal dict_num|dictid:id 0 %}
                            <p>ToDoがありません</p>
                        {% else %}
                            <p>{{ dict_num|dictid:id }}個中{{ dict_checked_num|dictid:id }}個がチェック済み</p>
                            <p>~{{ dict_deadline|dictid:id }}</p>
                        {% endifequal %}
                    {% endwith %}
                </p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}