
{% extends "todo/base.html" %}

{% block title %}ToDoリスト{% endblock title %}

{% block content %}

<div class="jumbotron">
    <p>新しいToDoを作成する</p>

    <form method = "post">
    {% csrf_token %}
    <div class = "row">
        <div class = "col-10">
            {{form.title}}
        </div>
        <div class = "col-2">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">リストの作成</button>
        </div>
    </div>
    </form>
    
    {% if status %}
        <p>新しいToDoリストが作成されました</p>
    {% endif %}
    
    {% for i in lists %}
        <div class="card">
            <h5 class="card-header">{{i.title}}</h5>
            <div class="card-body">
                <p class="card-text">ここに説明</p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}