{% extends "todo/base.html" %}

{% block title %}リスト{% endblock title %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
        <p class="display-4">{{listdata.title}}</p>

        <form method = "post">
        {% csrf_token %}
            <div class="card mb-4">
                <h5 class="card-header">新しいToDoを作成する</h5>
                <div class="card-body">
                        <div class = "form-group">
                            <div class = "mb-3">
                                {{form.title}}
                            </div>
                            <div class = "mb-3">
                                {{form.deadline_date}}
                            </div>
                            <div class = "mb-3">
                                {{form.text}}
                            </div>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="submit">ToDoの追加</button>
                        </div>
                </div>
            </div>
        </form>

        {% if not taskdata %}
            <div class="alert alert-danger" role="alert">登録されたToDoはございません</div>
        {% else %}
            {% for i in taskdata %}
            <div class="card mb-2">
                <h5 class="card-header">{{i.title}}</h5>
                <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>期限</th>
                            <th>作成日</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{i.deadline_date}}</td>
                            <td>{{i.create_date}}</td>
                        </tr>
                    <tbody>
                </table>
                <p class="card-text">{{i.text}}</p>
            
                </div>

                <div class="card-footer">
                    <div class="container">
                        <div class="row">
                            <form method = "post">
                            {% csrf_token %}
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="status_{{i.id}}">
                                    {% if i.completed %}
                                        完了
                                    {% else %}
                                        未完了
                                    {% endif %}
                                </button>
                            </form>
                            <button type="button" class="btn btn-outline-danger ml-2" data-toggle="modal" data-target="#deleteModal_{{i.id}}">
                            削除
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- モーダルの設定 -->
            <div class="modal fade" id="deleteModal_{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">警告</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>ToDo「{{i.title}}」を削除しますか？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">このウィンドウを閉じる</button>
                    <form method = "post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" name="delete_{{i.id}}">ToDoを削除する</button>
                    </form>
                </div><!-- /.modal-footer -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            {% endfor %}
        {% endif %}
    </div>


</div>

{% endblock %}