{% extends "todo/base.html" %}

{% block title %}リスト{% endblock title %}

{% block content %}

<div class="jumbotron">
<form id="ajax-search-post" action="{% url 'todo:search_result'%}" method = "GET" >
    <div class="card">
        <div class="card-body">
            <div class = "row">
                <div class = "col-10">
                    <input id="id_search_word" name="name_input_text"  type="text" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
                </div>
                <div class = "col-2">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id = "search_button">検索</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div id = "result" class = "card">

</div>

</div>

{% block extrajs %}

{% endblock %}
<script>

$('#ajax-search-post').on('submit', event => {
    event.preventDefault();
    
    $.ajax({
        'url': {% url 'todo:search_result'%},
        'type': 'GET',
        'data': {
            'title': $('#id_search_word').val(),
        },
        'dataType': 'json',
    }).done( response => {
        $('#result').empty();
        

        if($.isEmptyObject(response.task)){
            $('#result').append("<p>対象のToDoが見つかりません</p>");
        }else{
            $('#result').append("<p>ToDoが" + Object.keys(response.task).length + "件見つかりました</p>");
            
            
            for (var l in response.task) {
                $('#result').append(
                    "<h5 class=\"card-header\"><a href=\" /list/" +
                    response.task[l].list_id +
                    "\">" +
                    response.task[l].title +
                    "</a></h5>"
                );
                $('#result').append("<p>リスト:" + response.task[l].list_title + "</p>");
                $('#result').append("<p>期限:　" + response.task[l].deadline_date + "</p>");
                $('#result').append("<p>作成日:" + response.task[l].create_date + "</p>");
            }
        }

        if($.isEmptyObject(response.list)){
            $('#result').append("<p>対象のToDoリストが見つかりません</p>");
        }else{
            $('#result').append("<p>ToDoリストが" + Object.keys(response.list).length + "件見つかりました</p>");
            
            
            for (var l in response.list) {
                $('#result').append(
                    "<h5 class=\"card-header\"><a href=\" /list/" +
                    response.list[l].id +
                    "\">" +
                    response.list[l].title +
                    "</a></h5>"
                );
                $('#result').append("<p>作成日:" + response.list[l].create_date + "</p>");
            }
        }

    }). fail( response => {
        
    });


});
</script>

{% endblock %}