{% extends "todo/base.html" %}

{% block title %}検索{% endblock title %}

{% block content %}

<div class="jumbotron">
    <div class="container">
    <form id="ajax-search-post" action="{% url 'todo:search_result'%}" method = "GET" >
        <div class="card mb-4">
            <div class="card-header">
                ToDoを見つける
            </div>
            <div class="card-body">
                <div class="mb-3">
                <input id="id_search_word" name="name_input_text"  type="text" class="form-control mr-sm-2" placeholder="検索する文字を入力してください" aria-label="Search">
                </div>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id = "search_button">検索</button>
            </div>
        </div>
    </form>

        <div id ="alert_todo"></div>
        <div id = "result_todo">
            <!-- ここに検索結果が反映される -->
        </div>

        <div id ="alert_list"></div>
        <div id = "result_list">
            <!-- ここに検索結果が反映される -->
        </div>

        <div id ="alert_txt"></div>
        <div id = "result_txt">
            <!-- ここに検索結果が反映される -->
        </div>
    </div>
</div>

{% block extrajs %}

{% endblock %}
<script>

    function escapeHTML(str){
        str = str.replace(/&/g, '&amp;');
        str = str.replace(/>/g, '&gt;');
        str = str.replace(/</g, '&lt;');
        str = str.replace(/"/g, '&quot;');
        str = str.replace(/'/g, '&#x27;');
        str = str.replace(/`/g, '&#x60;');
        return str;
    }

$('#ajax-search-post').on('submit', event => {
    event.preventDefault();
    
    $.ajax({
        'url': {% url 'todo:search_result'%},
        'type': 'GET',
        'data': {
            'title': $('#id_search_word').val(),
        },
        'dataType': 'json',
    }).done( response => {
        $('#alert_todo').empty();
        $('#result_todo').empty();
        $('#alert_list').empty();
        $('#result_list').empty();
        $('#alert_txt').empty();
        $('#result_txt').empty();
        

        if($.isEmptyObject(response.task)){
            $('#alert_todo').append("<div class=\"alert alert-danger\" role=\"alert\">対象のToDoが見つかりません</div>");
        }else{
            $('#alert_todo').append("<div class=\"alert alert-success\" role=\"alert\">ToDoが" + Object.keys(response.task).length + "件見つかりました</div>");
            
            
            for (var l in response.task) {
                tt = escapeHTML(response.task[l].title);
                tlt = escapeHTML(response.task[l].list_title);
                $('#result_todo').append(
                    "<div class=\"card mb-2\"><h5 class=\"card-header\"><a href=\" /list/" +
                    response.task[l].list_id +
                    "\">" +
                    tt +
                    "</a></h5><div class=\"card-body\"><table class=\"table\"><thead><tr><th>リスト</th><th>期限</th><th>作成日</th></tr></thead><tbody><tr><td>" +
                    tlt +
                    "</td><td>" +
                    response.task[l].deadline_date +
                    "</td><td>" +
                    response.task[l].create_date +
                    "</td></tr></tbody></table></div></div>"
                    );
            }
        }

        if($.isEmptyObject(response.list)){
            $('#alert_list').append("<div class=\"alert alert-danger\" role=\"alert\">対象のToDoリストが見つかりません</div>");
        }else{
            $('#alert_list').append("<div class=\"alert alert-success\" role=\"alert\">ToDoリストが" + Object.keys(response.list).length + "件見つかりました</div>");
            
            
            for (var l in response.list) {
                lt = escapeHTML(response.list[l].title);
                $('#result_list').append(
                    "<div class=\"card mb-2\"><h5 class=\"card-header\"><a href=\" /list/" +
                    response.list[l].id +
                    "\">" +
                    lt +
                    "</a></h5><div class=\"card-body\"><table class=\"table\"><thead><tr><th>作成日</th></tr></thead><tbody><tr><td>" +
                    response.list[l].create_date +
                    "</td></tr></th></table></div></div>");
            }
        }

        if($.isEmptyObject(response.text)){
            $('#alert_txt').append("<div class=\"alert alert-danger\" role=\"alert\">対象のメモが見つかりません</div>");
        }else{
            $('#alert_txt').append("<div class=\"alert alert-success\" role=\"alert\">メモが" + Object.keys(response.text).length + "件見つかりました</div>");
            
            
            for (var l in response.text) {
                tt = escapeHTML(response.text[l].title);
                tlt = escapeHTML(response.text[l].list_title);
                txt = escapeHTML(response.text[l].text);
                $('#result_txt').append(
                    "<div class=\"card mb-2\"><h5 class=\"card-header\"><a href=\" /list/" +
                    response.text[l].list_id +
                    "\">" +
                    tt +
                    "</a></h5><div class=\"card-body\"><table class=\"table\"><thead><tr><th>リスト</th><th>期限</th><th>作成日</th></tr></thead><tbody><tr><td>" +
                    tlt +
                    "</td><td>" +
                    response.text[l].deadline_date +
                    "</td><td>" +
                    response.text[l].create_date +
                    "</td></tr></tbody></table><div class=\"card-body\"><h5 class=\"card-title\">メモ</h5>" +
                    txt +
                    "</div></div></div>"
                    );
            }
        }

    }). fail( response => {
        
    });


});
</script>

{% endblock %}